
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Ubuntu', sans-serif;

}

p {
  font-family: 'Lato', sans-serif;
}
hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}
/* .col-lg-12 {
  z-index: 999;
} */
.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  position: fixed;
  height: auto;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar-wrapper {
  display: block;
}


.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.my-wrapper {
  margin-left: 150px;
  padding: 5px 16px;
  max-width: 800px;
}
#wrap {
  display: block;
  max-width:1000px;
  margin:0 auto; 
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
/*     z-index: 100; */
  }
  
  .sidebar a {float: left;}
  div.my-wrapper  {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
